<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dwl.mobilesafe"
    android:versionCode="3"
    android:versionName="3.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.dwl.mobilesafe.HomeActivity" >
        </activity>
        <activity android:name="com.dwl.mobilesafe.SettingActivity" >
        </activity>
        <activity android:name="com.dwl.mobilesafe.LostFindAcitvity" >
        </activity>
        <activity android:name="com.dwl.mobilesafe.Setup1Activity" >
        </activity>
        <activity android:name="com.dwl.mobilesafe.Setup2Activity" >
        </activity>
        <activity android:name="com.dwl.mobilesafe.Setup3Activity" >
        </activity>
        <activity android:name="com.dwl.mobilesafe.Setup4Activity" >
        </activity>
        <activity android:name="com.dwl.mobilesafe.SelectContactActivity" >
        </activity>
        <activity android:name="com.dwl.mobilesafe.AtoolsActivity" >
        </activity>
        <activity android:name="com.dwl.mobilesafe.NumberAddressQuery" >
        </activity>
        <activity android:name="com.dwl.mobilesafe.DragViewActivity" >
        </activity>

        <service android:name="com.dwl.mobilesafe.service.GPSService" >
        </service>
        <service android:name="com.dwl.mobilesafe.service.AddressService" >
        </service>

        <receiver android:name="com.dwl.mobillesafe.receiver.BootCompleteReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>
            </intent-filter>
        </receiver>
        <receiver android:name="com.dwl.mobillesafe.receiver.SmsReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" >
                </action>
            </intent-filter>
        </receiver>
        <!-- lock screen -->
        <receiver
            android:name="com.dwl.mobilesafe.MyAdmin"
            android:description="@string/sample_device_admin_description"
            android:label="@string/sample_device_admin"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_sample" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>